@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


#logo{
    width: 100px;
}

#container{
    display: flex;
    
}

html{
    background-image: url(images/lolol.png);
    font-family: 'Nunito', sans-serif;
}

#titulo{
    text-align: center;

    color: rgb(255, 255, 255);
    
}

#homebutton{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
    
    
}

#btnHome{
    background-color: rgba(255, 255, 255, 0);
    border: 5px solid pink;

}

#titulo2 { 
    text-align: center;
}

#me2{
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 20em;
}

#fav{
    text-align: center;
}

#alask{
    width: 300px;

}

#pap{
    width: 600px;
}

#maill{
    width: 300px;
}

#men{
    width: 290px;
    border-radius: 20em;
}

body{
    color: #fff;
}




.test{
    width: 100%;
    background: rgb(255, 255, 255);
    
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px #ff93db solid;
    border-radius: 40em;
    padding: 1.2em;
    cursor: pointer;
    transition: background1 0.3s
    
}

.item{
    background-color: #ffffff;
    border: 5px;
    
 
}